:root{
    --background-color: #23374d;
    font-family: 'Grenze', serif;
}
.top-container{
    
    color: #eeeeee;
    background-color: var(--background-color);
    height: 600px;
    position: relative;
    
}



.cloud-wrapper{
    width: 600px;
    margin: 0 auto;
}

.mountain{
    position: absolute;
    top: 40%
}
.cloud1{
    position: absolute;
    top: 40%;
    left: 50%;
    animation-duration: 4s;
    animation-name: cloud1-animation;
    animation-iteration-count: infinite;
}
.cloud2{
    position: absolute;
    top: 10%;
    left: 60%;
}
.cloud3{
    position: absolute;
    top: 30%;
}
h1{
    position: absolute;
    left: 45%;
    font-size: 40px;
}
.p1{
    position: absolute;
    top: 20%;
    left: 47%;
    font-size: 20px;
}
.p2{
    font-size: 20px;
}

.p3{
    font-size: 20px;
}
span{
    text-decoration: underline;
}

.middle-container {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.profile img{
    width: 150px;
    padding: 2rem 0;
}
.profile{
    padding-bottom: 3rem;
}
.skills h2 {
    margin: 0;
    font-size: 3rem;
}
.skills-image1{
    width: 150px;
    float: left;
    margin-right: 3rem;
}
.skills h3{
    font-size: 3rem;
}
.skills-row{
    margin-bottom: 2rem;
    text-align: left;
}

@keyframes cloud1-animation {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
  }

  @keyframes cloud2-animation {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
  }

  @keyframes cloud3-animation {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
  }

  .btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    text-decoration: none;
  }

  .footer-link{
    text-decoration: none;
    color: black;
    text-align: center;

  }
  .bottom-container{
      text-align: center;
      margin-top: 2rem;
      font-size: 2rem;
  }
  .contact-me{
      margin-bottom: 2rem;
  }